/*for footer*/



/*------------------------------------------------*/
.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}




p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}
@media (min-width:60rem) {

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

}

/*----------- ul ---------------*/

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Column system
=================== */

[class^=col-] {
  width: 100%;
  margin-top: 1em;
}

[class^=col-]:first-child {
  margin-top: 0;
}

.col-1 {
  width: 33.333334%;
  float: left;
}


@media (min-width: 40rem) {

  [class^=col-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=col-]:first-child {
    padding-left: 0;
  }

  [class^=col-]:last-child {
    padding-right: 0;
  }

  .col-3 {
    width: 50%;
  }

  .col-1 {
    width: 16.6666%;
  }
}

/* -------------- footer -------------------- */



footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 5em 0;
}
footer::after {
  content: '';
  display: block;
  clear: both;
}
