<!DOCTYPE html>
<html>
<head>

	{% if title %}
		<title>Library - {{title}}</title>
	{% else %}
		<title>Library </title>

	{% endif %}

	 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"> 
	 	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/all.min.css') }}"> 
	 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home1.css') }}">
 

</head>
<body>
	<header>
			<h2 class=logo>Library</h2>  <!-- <img src="" alt=Library_logo class=logo> -->
			 <input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a href="" alt="Contact" > Contact </a></li>
					<li><a href="about" alt="About" > About   </a></li>
					<li><a href=" "  alt="" > </a> Search Books</li>
					<li><a href="home" alt="Logout" > Logout</a></li>
					<li><a href="" alt="Register" > Speech</a></li>
				</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
		    	<span></span>
		 	</label>
	</header>


	<div class=content> 
		<section>{% block content %}  {% endblock content %}</section>	
	</div>
	
	{% with messages = get_flashed_messages() %}
  {% if messages %}
  		{% for  message in messages %}
		<div class="alert alert-{{ message }}\">
			{{message}}
		</div>
    {% endfor %}
			
	  	
   
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<footer>
	
</footer>



</body>
</html>

